# ./venv
venv
Output
Video
# Model\sam_vit_b_01ec64.pth
# Model\sam_vit_h_4b8939.pth
# Model\sam_vit_l_0b3195.pth
.vscode
ocr
Model_Large
__pycache__
Outputs
Screenshots
Uploads
Airbag_detection.db
.env